/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/11/2020, 17:13:06
    Author     : Matheus
*/

*{
  font-family:Anton;
}

body{
    padding-left: 2em;
    padding-right: 2em;
    font-family: Anton;
    line-height: 1.6;
    background-color: #f2c9ff;
}

table{
    font-size: 1em;
}

td {
    padding: 20px;
    word-wrap: break-word;
    vertical-align: top;
    text-align: justify;
}

th {
    background-color: transparent;
    border-bottom: 3px;
    border-bottom-style: solid;
}

tr:hover{
    background-color: #956fa1;
}

tr:last-child{
    border-bottom: 3px;
    border-bottom-style: solid;
}

input, textarea, select {
    font-size: 1.5em;
    padding: 5px;
    border-style: solid;
    font-weight: bold;
}

input:focus, textarea:focus, select:focus {
    background-color: #956fa1;
}
